/*Body y header general*/
body {
    background-color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-align: justify;
  }
  
header{
    background-color: #000000;
    color:#FFFFFF;     
    height: 150px;       
}

header > div > img{
    width: 200px;
    margin-top: 15px;
}

header div h1{
    font-size: 45px;
    font-weight: normal;
    margin-top:0px;
}

.menu > ul{
    list-style-type: none; /*no se van a utilizar bolitas o marcas de ningún tipo al lado de los elementos de la lista. */
    text-align: center; /*centrado*/
 }

 .menu > ul > li{
    display: inline;  /*para conseguir que los elementos se dispongan uno detrás de otro en la misma línea*/
    text-align: center;/*volvemos a indicar que cada uno de los elementos tiene el texto centrado*/
    margin: 0 10px 0 0;/* indicamos un margen entre los elementos. */
 }

 a {
    text-decoration: none; /*quitamos estilo de la linea*/
    color:#222222; /*color del texto y enlace*/
 }

 a:hover{
     color:#CC0000  ; /*color cuando pasa el raton o cuando lo seleccionas*/
 }
 .menu-actual{ /*indico la clase que debe tener el estilo subrallado*/
    border-bottom: 1px solid #CC0000; /*le doy color al borde inferior*/
 }
 hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #DDDDDD;
}


div{
    margin-left: 150px;
    margin-right: 120px;
}

div > h1{
    font-size: 35px;
}

.autor{
    color: #CC0000;
}

.autor:hover{
    color:#222222;
}

.cita{
    margin-left: 50px;
    margin-right: 50px;
}
.imagen,.video {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.fotografia{
    width: 80%;   
}

.selfie{
    border-radius: 100%;
    width: 100px;
}
#biografia{
    margin-top: 60px;
    margin-right:135px;
}
.bibliografia{
    font-size: 10px;
}

.presentacion{
    float: left;
    margin-left: 75px;  
    margin-right: 14px;  
}

.video_youtube{
    width:560px;
    height:315px;
}

/*Footer*/

footer {
    width: 100%;
    background-color: #3B3B3B;
    color: #FFFFFF;
    text-align: justify;
    position: absolute; 
    }

footer > img{
    width: 100px;
}    
footer > p{
    margin-top: 0px;   
}

.creative{
    margin-top: 10px;
}